<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../views/nav'); %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>Mon API Stylos</h1>
            <p>Bienvenue dans ma collection de stylos !</p>
        </div>
    </main>
    <br><br>
    <footer>
        <%- include('../views/footer'); %>
    </footer>
</body>

</html>