<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Untitled</title>
    </head>
    <body>
        
<h1>LOGIN PAGE</h1>

<p>Pas encore membre ?</p>
<a href="/signup">Cliquez ici pour vous inscrire</a>

    </body>
</html>