<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Untitled</title>
    </head>
    <body>
        

<h1>Accéder à l'espace sécurisé</h1>

<p>Veuillez vous identifier</p>

<form action="/login" method="post">
	<input type="email" name="email" placeholder="email">
	<br>
	<input type="password" name="password" placeholder="password">
    <input type="submit" value="OK" />
</form>

<p>Pas encore membre ?</p>
<a href="/signup">Cliquez ici pour vous inscrire</a>

    </body>
</html>

    </body>
</html>